body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Section styles.  */
#sec1 {
    background-image: url(../img/header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 125vh;
    max-width: 100%;
}

#sec2 {
    height: 100vh;
    width: 100%;
}

#sec3 {
    height: 100vh;
    width: 100%;
}

/* Vertical responsiveness for the sections. */
@media only screen and (max-height: 755px) {
    #sec1 {
        height: 250vh;
    }

    #sec2, #sec3 {
        height: 210vh;
    }
}

@media only screen and (max-height: 300px) {
    #sec1 {
        height: 250vh;
    }

    #sec2, #sec3 {
        height: 250vh;
    }
}

/* Section wrap. */
.wrap {
    height: 100%;
    width: 100%;
}

/* Vertical responsiveness. */
@media only screen and (max-height: 900px) {
    .wrap {
        mix-blend-mode: soft-light;
    }
}

@media only screen and (max-height: 400px) {
    #sec1 {
        background-image: none;
    }

    .wrap {
        mix-blend-mode: normal;
    }
}


/* Section text varying depending on viewport. */
.text-style {
    color: white;
    font-size: 5rem;
    mix-blend-mode:soft-light;
}

.text-style2 {
    color: white;
    font-size: 3rem;
    mix-blend-mode:soft-light;   
}

.sec2-text {
    color: #3500d3;
    font-size: 5rem;
}

.sec2-text2 {
    color: #282828;
    font-size: 3rem;
}

.sec2-title {
    color: white;
}

.sec2-sub {
    color: #282828;
}

/* Scroll down indicator + animation. */
.scroll-down {
    height: 4rem;
    width: 2.5rem;
    mix-blend-mode: soft-light;
    cursor: pointer;   
}

.scroll-down2 {
    height: 2rem;
    width: 1.25rem;
    mix-blend-mode: soft-light;
    cursor: pointer;   
}

.ptr::before,
.ptr::after {
    content: '';
    border: 0.135rem solid white;
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    mix-blend-mode: soft-light;
    margin-top: -0.1rem;
    animation: ptr 2s ease-in-out infinite;
}

.ptr2::before,
.ptr2::after {
    content: '';
    border: 0.065rem solid white;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    mix-blend-mode: soft-light;
    margin-top: -0.05rem;
    animation: ptr 2s ease-in-out infinite;
}

.ptr::after {
    margin-top: -0.1rem;
    animation-delay: .4s;
}

@keyframes ptr {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 2rem;
    }
}

.ptr2::after {
    margin-top: -0.02rem;
    animation-delay: .4s;
}

@keyframes ptr2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 1rem;
    }
}

/* Card style. */
.card {
    background-color: transparent;
    border-width: 4px;
    border-color: #0c0032;
    color: white;
    text-align: center;
    border-radius: 10%;
}

.card-link-clr {
    color: white;
    text-decoration: underline;
}

.card-link-clr:hover {
    color: #3500d3;
    text-decoration: underline;
}

/* Divider style. */
.div-style {
    border-top: 1px solid #3500d3;
}

/* Button style. */
.btn-custom {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-custom:hover {
    background-color: #3500d3;
    color: white;
    border: 1px solid #3500d3;
}
