body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/* Section styles.  */
#sec1 {
    background-image: url(../img/header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 125vh;
    max-width: 100%;
}

#sec2 {
    height: 100vh;
    width: 100%;
}

#sec3 {
    height: 100vh;
    width: 100%;
}

/* Section wrap */
.wrap {
    /* backdrop-filter: blur(4px); */
    height: 100%;
    width: 100%;
    mix-blend-mode: soft-light;
}


/* Section header text varying depending on viewport */
.text-style {
    color: white;
    font-size: 5rem;
    mix-blend-mode:soft-light;
}

.text-style2 {
    color: white;
    font-size: 3rem;
    mix-blend-mode:soft-light;   
}

.sec2-text {
    color: #3500d3;
    font-size: 5rem;
}

.sec2-text2 {
    color: #282828;
    font-size: 3rem;
}

.sec2-title {
    color: white;
}

.sec2-sub {
    color: #282828;
}

/* Scroll down indicator + animation */
.scroll-down {
    height: 4rem;
    width: 2.5rem;
    mix-blend-mode: soft-light;
    cursor: pointer;   
}

.scroll-down2 {
    height: 2rem;
    width: 1.25rem;
    mix-blend-mode: soft-light;
    cursor: pointer;   
}

.scroll-down3 {
    height: 4rem;
    width: 2.5rem;
    cursor: pointer;   
}

.scroll-down4 {
    height: 2rem;
    width: 1.25rem;
    cursor: pointer;   
}

.ptr::before,
.ptr::after {
    content: '';
    border: 0.135rem solid white;
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    mix-blend-mode: soft-light;
    margin-top: -0.1rem;
    animation: ptr 2s ease-in-out infinite;
}

.ptr2::before,
.ptr2::after {
    content: '';
    border: 0.065rem solid white;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    mix-blend-mode: soft-light;
    margin-top: -0.05rem;
    animation: ptr 2s ease-in-out infinite;
}

.ptr3::before,
.ptr3::after {
    content: '';
    border: 0.135rem solid white;
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    margin-top: -0.1rem;
    animation: ptr 2s ease-in-out infinite;
}

.ptr4::before,
.ptr4::after {
    content: '';
    border: 0.065rem solid white;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    margin-top: -0.05rem;
    animation: ptr 2s ease-in-out infinite;
}

.ptr::after {
    margin-top: -0.1rem;
    animation-delay: .4s;
}

@keyframes ptr {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 2rem;
    }
}

.ptr2::after {
    margin-top: -0.02rem;
    animation-delay: .4s;
}

@keyframes ptr2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 1rem;
    }
}

.ptr3::after {
    margin-top: -0.1rem;
    animation-delay: .4s;
}

@keyframes ptr3 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 2rem;
    }
}

.ptr4::after {
    margin-top: -0.02rem;
    animation-delay: .4s;
}

@keyframes ptr4 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: 1rem;
    }
}

/* Card style */
.card {
    background-color: transparent;
    border-width: 4px;
    border-color: #0c0032;
    color: white;
    text-align: center;
    border-radius: 10%;
}

.div-style {
    border-top: 1px solid #3500d3;
}

.card-link-clr {
    color: white;
    text-decoration: underline;
}

.card-link-clr:hover {
    color: #3500d3;
    text-decoration: underline;
}