* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100%;
}

.title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #282828;
}

.subtitle {
    color: #282828;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #282828;
    white-space: normal;
}

.word1 {
    color: #3500d3;
    font-size: 1rem;
    white-space: normal;
}

.text1 {
    font-size: x-small;
}

.bg-niceBlue {
    background: #3500d3;
    color: white;
}

.bg-niceBlue:hover {
    background: #3500d3;
    color: white;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }
  
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}