{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block head %}
<title>Coursework</title>
{% endblock %}

{% block body %}
<canvas id="canvas1"></canvas>
<div class="wrapper text-white">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <div class="d-flex justify-content-center pt-3">
                <img src="../static/img/carlos.jpg" alt="Carlos profile pic" class="img-circle shadow-lg">
            </div>
            <div class="container-fluid d-flex align-items-bottom justify-content-center pt-3">
                <a class="btn btn-social-icon btn-linkedin mr-2" href="https://www.linkedin.com/in/carlosricoveri/"><span class="fab fa-linkedin"></span></a>
                <a href="https://github.com/carlosricov" class="btn btn-social-icon btn-github"><span class="fab fa-github"></span></a>
            </div>
        </div>

        <ul class="list-unstyled components pt-0">
            <p class="font-weight-bold">Navigation Menu</p>
            <li>
                <a href="/portfolio">About</a>
            </li>
            <li class="active">
                <a href="/education">Education</a>
            </li>
            <li>
                <a href="#">Skills</a>
            </li>
            <li>
                <a href="#">Work Experience</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="https://github.com/carlosricov/Personal-Portfolio">Website Repo</a>
            </li>
        </ul>
        <div class="container-fluid" id="but2">
            <a href="../static/files/CarlosERicoveri_Resume.pdf" download><button class="btn btn-block btn-success d-flex align-items-center justify-content-center">Download Resume</button></a>
            <div class="container-fluid text-center">
                <p id="side-footer">Powered by <a href="https://flask.palletsprojects.com/en/2.0.x/" style="color: white; text-decoration:underline;">Flask</a>.</p>
            </div>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-bg-transparent text-white shadow-sm">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
        <section class="d-flex align-items-top">
            <div class="container-fluid pb-0">
                <h1 class="container-fluid text-uppercase font-weight-bold mb-0 d-flex justify-content-center" style="font-size: 3rem;">Coursework</h1>
            </div>
        </section>
        

    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
            $('body').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('body').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script src="../static/scripts/landing_script.js"></script>
<script type="text/javascript" src="../static/scripts/sidebar.js"></script>
{% endblock %}
