{% extends 'base.html' %}

{% block style %}
<link href="../static/css/education.css" rel="stylesheet">
{% endblock %}

{% block head %}
<title>Education Section</title>
{% endblock %}

{% block body %}
<canvas id="canvas1"></canvas>
<div class="wrapper text-white">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <div class="d-flex justify-content-center pt-3">
                <img src="../static/img/carlos.jpg" alt="Carlos profile pic" class="img-circle shadow-lg">
            </div>
            <div class="container-fluid d-flex align-items-bottom justify-content-center pt-3">
                <a class="btn btn-social-icon btn-linkedin mr-2" href="https://www.linkedin.com/in/carlosricoveri/"><span class="fab fa-linkedin"></span></a>
                <a href="https://github.com/carlosricov" class="btn btn-social-icon btn-github"><span class="fab fa-github"></span></a>
            </div>
        </div>

        <ul class="list-unstyled components pt-0">
            <p class="font-weight-bold">Navigation Menu</p>
            <li>
                <a href="/portfolio">About</a>
            </li>
            <li class="active">
                <a href="/education">Education</a>
            </li>
            <li>
                <a href="#">Skills</a>
            </li>
            <li>
                <a href="#">Work Experience</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="https://github.com/carlosricov/Personal-Portfolio">Website Repo</a>
            </li>
        </ul>
        <div class="container-fluid" id="but2">
            <a href="../static/files/CarlosERicoveri_Resume.pdf" download><button class="btn btn-block btn-success d-flex align-items-center justify-content-center">Download Resume</button></a>
            <div class="container-fluid text-center">
                <p id="side-footer">Powered by <a href="https://flask.palletsprojects.com/en/2.0.x/" style="color: white; text-decoration:underline;">Flask</a>.</p>
            </div>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-bg-transparent text-white shadow-sm">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
        <section class="d-flex align-items-top">
            <div class="container-fluid pb-0">
                <h1 class="container-fluid text-uppercase font-weight-bold mb-0 d-flex justify-content-center" style="font-size: 3rem;">Education</h1>
            </div>
        </section>
        <section class="d-flex justify-content-left pl-3 pt-5">
            <div class="container-fluid">
                <h3 class="education-text text-left font-weight-bold">University of Central Florida <span class="font-weight-bold date-text" style="font-size: small;">Aug 2016 - May 2021</span></h3>
                <h5 class="date-text text-left font-weight-light">B.S Computer Engineering</h5>
                <hr class="solid">
                <div class="card-deck">
                    <div class="card card-color">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">GPA</h5>
                            <hr class="solid">
                            <p class="font-weight-light text-center mb-0">3.5 out of 4.0</p>
                        </div>
                    </div>
                    <div class="card card-color">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Coursework</h5>
                            <hr class="solid">
                            <p class="mb-0 mx-0"><a href="#" class="font-weight-light d-flex justify-content-center url-style mb-0 mx-0 px-0">View Coursework</a></p>
                        </div>
                    </div>
                    <div class="card card-color">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Dean's List</h5>
                            <hr class="solid">
                            <p class="font-weight-light text-center mb-0">Spring'17 - Fall'18</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-left pl-3 pt-5">
            <div class="container-fluid">
                <h3 class="education-text text-left font-weight-bold">J.P. Taravella High School <span class="font-weight-bold date-text" style="font-size: small;">Aug 2012 - Jun 2016</span></h3>
                <h5 class="date-text text-left font-weight-light">High School Diploma</h5>
                <hr class="solid">
                <div class="card-deck">
                    <div class="card card-color">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">GPA</h5>
                            <hr class="solid">
                            <p class="font-weight-light text-center mb-0">4.0 out of 4.0</p>
                        </div>
                    </div>
                    <div class="card card-color">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">School Website</h5>
                            <hr class="solid">
                            <p class="mb-0 mx-0"><a href="https://www.browardschools.com/taravella" class="font-weight-light d-flex justify-content-center url-style mb-0 mx-0 px-0">View Website</a></p>
                        </div>
                    </div>
                    <div class="card card-color">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Class Standing</h5>
                            <hr class="solid">
                            <p class="font-weight-light text-center mb-0">Top 1%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="overlay"></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
            $('body').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('body').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script src="../static/scripts/landing_script.js"></script>
{% endblock %}