{% extends 'base.html' %}

{% block style %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="../static/css/education.css" rel="stylesheet">
{% endblock %}

{% block head %}
<title>Education Section</title>
{% endblock %}

{% block body %}
<section id="sec1">
    <div class="wrap" id="wrap1">
        <div class="container-fluid d-flex justify-content-center" data-aos="fade-down" data-aos-duration="3000">
            <h1 class="text-style font-weight-bold pt-5 d-none d-md-inline">Education</h1>
            <h1 class="text-style2 font-weight-bold pt-5 d-md-none">Education</h1>
        </div>
        <div class="container-fluid d-flex justify-content-center mt-5" data-aos="fade-down" data-aos-duration="2000" data-aos-delay="2000">
            <a href="#sec2">
                <div class="scroll-down d-flex justify-content-center">
                    <div class="ptr d-flex justify-content-center"></div>
                </div>
            </a>
        </div>
    </div>
</section>
<section id="sec2">
    <div class="container">
        <h1>Second Section</h1>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>
<script type="text/javascript" src="../static/scripts/sidebar.js"></script>
<script type="text/javascript" src="../static/scripts/scrollfade.js"></script>
{% endblock %}