{% extends 'base.html' %}

{% block style %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/landing_style.css">
{% endblock %}

{% block head %}
<title>Welcome to Carlos's Portfolio!</title>
{% endblock %}

{% block body %}
<canvas id="canvas1"></canvas>
<main id="swup" class="transition-fade">
    <div style="height: 100vh;">
        <div class="container-fluid d-flex align-items-center" style="height: 100%;">
            <div class="container-fluid">
                <div class="row" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
                    <h1 class="container-fluid d-none d-md-flex justify-content-center title">Hi, my name is Carlos Ricoveri!</h1>
                    <h1 class="container-fluid d-md-none d-flex justify-content-center title">Carlos Ricoveri</h1>
                </div>
                <div class="row pt-2" data-aos="zoom-in" data-aos-duration="1200" data-aos-easing="linear" data-aos-delay="1000">
                    <h6 class="container-fluid font-weight-bold d-none d-md-flex justify-content-center subtitle">I'm a software engineer with a passion for&nbsp;<em class="word1">technology</em>&nbsp;and&nbsp;<em class="word1">creating solutions</em></h6>
                    <h6 class="container-fluid font-weight-bold d-md-none d-inline text-center subtitle pb-2">I'm passionate for&nbsp;<em class="word1">technology</em>&nbsp;and&nbsp;<em class="word1">creating solutions</em></h6>
                </div>
                <div class="row pt-4 d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="2000" data-aos-easing="linear" data-aos-delay="2800">
                    <a class="btn btn-large bg-niceBlue" href="/portfolio">Click here to see my portfolio!</a>
                </div>
                <div class="row pt-2" data-aos="zoom-in" data-aos-duration="2500" data-aos-easing="linear" data-aos-delay="3000">
                    <p class="col subtitle text1 d-flex justify-content-center">No time? Check out my resume&nbsp;<a href="../static/files/CarlosERicoveri_Resume.pdf">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
<script src="../static/scripts/landing_script.js"></script>
<script>const swup = new Swup();</script>
{% endblock %}
