{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block head %}
<title>About Section</title>
{% endblock %}

{% block body %}
<canvas id="canvas1"></canvas>
<div class="wrapper text-white">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <div class="d-flex justify-content-center pt-3">
                <img src="../static/img/carlos.jpg" alt="Carlos profile pic" class="img-circle shadow-lg">
            </div>
            <div class="container-fluid d-flex align-items-bottom justify-content-center pt-3">
                <a class="btn btn-social-icon btn-linkedin mr-2" href="https://www.linkedin.com/in/carlosricoveri/"><span class="fab fa-linkedin"></span></a>
                <a href="https://github.com/carlosricov" class="btn btn-social-icon btn-github"><span class="fab fa-github"></span></a>
            </div>
        </div>

        <ul class="list-unstyled components pt-0">
            <p class="font-weight-bold">Navigation Menu</p>
            <li class="active">
                <a href="/portfolio">About</a>
            </li>
            <li>
                <a href="/education">Education</a>
            </li>
            <li>
                <a href="#">Skills</a>
            </li>
            <li>
                <a href="#">Work Experience</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="https://github.com/carlosricov/Personal-Portfolio">Website Repo</a>
            </li>
        </ul>
        <div class="container-fluid" id="but2">
            <a href="../static/files/CarlosERicoveri_Resume.pdf" download><button class="btn btn-block btn-success d-flex align-items-center justify-content-center">Download Resume</button></a>
            <div class="container-fluid text-center">
                <p id="side-footer">Powered by <a href="https://flask.palletsprojects.com/en/2.0.x/" style="color: white; text-decoration:underline;">Flask</a>.</p>
            </div>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-bg-transparent text-white shadow-sm">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
        <section class="d-flex align-items-top">
            <div class="container-fluid pb-0">
                <h1 class="container-fluid text-uppercase font-weight-bold mb-0 d-none d-md-flex justify-content-center" style="font-size: 3rem;">Carlos&nbsp;<span class="lastname-text text-uppercase font-weight-bold">Ricoveri</span></h1>
                <h1 class="container-fluid text-uppercase font-weight-bold mb-0 d-md-none d-flex justify-content-center" style="font-size: 2.25rem;">Carlos&nbsp;<span class="lastname-text text-uppercase font-weight-bold" style="font-size: 2.25rem;">Ricoveri</span></h1>
                <div class="container-fluid mb-4 d-flex">
                    <p class="container-fluid subheading text-uppercase font-weight-bold d-inline justify-content-center text-center">Coral Springs, FL 33071&nbsp;&nbsp;&nbsp;<a href="mailto:carlos.ricoveri.cpe@gmail.com" class="hyp-text d-none d-md-inline">Carlos.Ricoveri.cpe@gmail.com</a><a href="mailto:carlos.ricoveri.cpe@gmail.com" class="hyp-text d-md-none d-flex justify-content-center">Gmail</a></p>    
                </div>
                <p class="about-text font-weight-light justify-content-left px-5 text-justify mb-0">Hi, I'm Carlos and I'm an experienced Back End Engineer. Currently, I'm a software engineer for a fortune 500 company where I adhere to industry-standard Agile and CI/CD practices, all the while helping support digital microservices. In my free time, I like to learn new skillsets in regards to growing as a software engineer. <br><br> This website runs using Flask and is hosted on an AWS instance. It's running on a Docker container while reverse proxying is done through Nginx. All of the DevOps configuration was done by myself, courtesy of a bunch of skills learned from my Summer fellowship @ Major League Hacking. <br><br>I'm eager to apply my ever-growing skillset to sectors where I can help create innovative and impactful solutions.</p>         
            </div>
        </section>
    </div>
</div>

<div class="overlay"></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../static/scripts/sidebar.js"></script>
<script src="../static/scripts/landing_script.js"></script>
{% endblock %}